@using Microsoft.AspNetCore.Authentication;

@model HomeIndexViewModel

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/Minlog_Logo.png">
                Welcome to MineSuite Portal
                @*<small>(build {version})</small>*@
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            @foreach (var client in Model.Clients)
            {
                <div>@client.Name</div>
                <div>@client.Description</div>
                <div>
                    <a href="@client.Url">Open</a>
                </div>
                <div>
                    <ul>
                        @foreach (var claim in client.ValidClaims)
                        {
                            <li>@claim</li>
                        }
                    </ul>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.NotAuthenticatedMessage))
            {
                <strong>@Model.NotAuthenticatedMessage</strong>
            }
        </div>
    </div>
    @if (string.IsNullOrEmpty(Model.NotAuthenticatedMessage))
    {
        <div class="row">
            <div class="col-sm-12">
                <dl>
                    @foreach (var claim in User.Claims)
                    {
                        <dt>@claim.Type</dt>
                        <dd>@claim.Value</dd>

                    }
                </dl>
            </div>
        </div>
    }
</div>
